<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div class="form-group d-flex justify-content-between">
                <h2>Google calendar</h2>
                <button class="btn-delete">X</button>
            </div>
            <hr>
            <div>
                <h4>Input</h4>
                <div class="form-group" style="margin-bottom: 20px;">
                    <label for="action">Action</label>
                    <select class="form-select" formControlName="input" (change)="onSelectedOption($event)">
                      <option
                        *ngFor="let action of selectOptions; let i = index"
                        [value]="action"
                        >
                        {{action}}
                      </option>
                    </select>
                </div>

                <!-- create event -->
                <div *ngIf="selected === 'Create Event'" formGroupName="createEvent">
                    <div class="form-group">
                        <label for="calendar">Calendar Id<i class="fas">*</i></label>
                        <input type="text" class="form-control" id="calendar" formControlName="calendar">
                        <div *ngIf="!formGroup.get('createEvent.calendar').valid && formGroup.get('createEvent.calendar').touched">
                            <span class="text-danger" *ngIf="formGroup.get('createEvent.calendar').errors['required']">CalendarId is required !</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="startTime">Start Time<i class="fas">*</i></label>
                        <input type="datetime-local" class="form-control" id="startTime" formControlName="startTime">
                        <div *ngIf="!formGroup.get('createEvent.startTime').valid && formGroup.get('createEvent.startTime').touched">
                            <span class="text-danger" *ngIf="formGroup.get('createEvent.startTime').errors['required']">Start Time is required !</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="endTime">End Time<i class="fas">*</i></label>
                        <input type="datetime-local" class="form-control" id="endTime" formControlName="endTime">
                        <div *ngIf="!formGroup.get('createEvent.endTime').valid && formGroup.get('createEvent.endTime').touched">
                            <span class="text-danger" *ngIf="formGroup.get('createEvent.endTime').errors['required']">End time is required !</span>
                        </div>

                    </div>

                    <button type="button" class="button-add" (click)="onAddAttendee()">+</button>
                    <div class="custom-form" formArrayName="attendees">
                        <label for="attendees" class="custom-label">Attendees</label>
                        <div class="custom-attendees">
                            <div class="d-flex align-center" *ngFor="let attendee of getAttendees(); let i = index">
                                <input type="email" class="form-control" id="attendees" [formControlName]="i">
                                <button type="button" class="button-delete" *ngIf="i > 0" (click)="onDeleteAttendee(i)">-</button>
                            </div>
                        </div>

                        <div *ngIf="!formGroup.get('createEvent.attendees').valid && formGroup.get('createEvent.attendees').touched">
                            <span class="text-danger" *ngIf="checkValidateAttendees">Attendees is invalid</span>
                        </div>
                    </div>
                </div>
                <!-- end create event -->

                <!-- common inputs -->
                <div *ngIf="selected ==='Create Calendar' || selected === 'Create Event'" formGroupName="commonInputs">
                    <div class="form-group">
                        <label for="summary">Summary<i *ngIf="selected === 'Create Calendar'" class="fas">*</i></label>
                        <input type="text" class="form-control" id="summary" formControlName="summary">
                        <div *ngIf="!formGroup.get('commonInputs.summary').valid && formGroup.get('commonInputs.summary').touched && selected === 'Create Calendar'">
                            <span class="text-danger" *ngIf="formGroup.get('commonInputs.summary').errors['required']">Summary is required !</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" formControlName="description">
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" class="form-control" id="location" formControlName="location">
                    </div>
                    <!-- create calendar -->

                    <div class="form-group" *ngIf="selected === 'Create Calendar'">
                        <label for="timezone">Timezone</label>
                        <input type="text" class="form-control" id="timezone">
                    </div>
                    <!-- end create calendar -->
                </div>
                <!-- end common inputs -->

                <h4>Info Extract</h4>
                <!-- create calendar -->
                <div *ngIf="selected === 'Create Calendar'" formGroupName="infoExtract">
                    <div class="form-group">
                        <label for="title">Title<i class="fas">*</i></label>
                        <input type="text" class="form-control" id="title" formControlName="title">
                        <div *ngIf="!formGroup.get('infoExtract.title').valid && formGroup.get('infoExtract.title').touched">
                            <span class="text-danger" *ngIf="formGroup.get('infoExtract.title').errors['required']">Title is required !</span>
                        </div>
                    </div>
                </div>


                <!-- end create calendar -->

                <!-- list calendar -->
                <div *ngIf="selected === 'List Calendars'" formGroupName="infoExtract">
                    <div class="form-group">
                        <input type="checkbox">
                        <label for="id" style="margin-left: 5px">Id</label>
                        <input type="text" class="form-control" id="id" formControlName="id">
                    </div>
                    <div class="form-group">
                        <input type="checkbox">
                        <label for="listSummary" style="margin-left: 5px">Summary</label>
                        <input type="text" class="form-control" id="listSummary" formControlName="listSummary">
                    </div>
                </div>
                <!-- end list calendar -->

                <!-- create event -->
                <div *ngIf="selected === 'Create Event'" formGroupName="infoExtract">
                    <div class="form-group">
                        <label for="eventId">Event Id<i class="fas">*</i></label>
                        <input type="text" class="form-control" id="eventId" formControlName="eventId">
                        <div *ngIf="!formGroup.get('infoExtract.eventId').valid && formGroup.get('infoExtract.eventId').touched">
                            <span class="text-danger" *ngIf="formGroup.get('infoExtract.eventId').errors['required']">Event Id is required !</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" [(ngModel)]="checkBox" (change)="onChangeCheckBox($event)" [ngModelOptions]="{standalone: true}">
                        <label for="eventLink">Event Link</label>
                        <input type="text" class="form-control" id="eventLink" formControlName="eventLink">
                        <div *ngIf="!formGroup.get('infoExtract.eventLink').valid && formGroup.get('infoExtract.eventLink').touched">
                            <span class="text-danger" *ngIf="formGroup.get('infoExtract.eventLink').errors['required']">Event Link is required !</span>
                        </div>
                    </div>
                </div>
                <!-- end create event -->
            </div>
            <hr>
            <div class="form-group d-flex justify-content-end">
                <button class="btn btn-danger" type="button" (click)="onClear()">Cancel</button>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>